<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GO STEM - Meet the Team</title>
  <meta name="description" content="The Greater Oregon STEM Hub (GO-STEM) is one of 13 STEM hubs in Oregon working to bring together the resources of education and industry in support of STEM learning environments and career opportunities.">
  <meta name="keywords" content="GO, Greater, Oregon, STEM, Hub, GO-STEM, go-stem, go, stem, oregon, greater, team, meet">
  <meta name="author" content="GO STEM">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/main.css">
  <script type="module" src="/team.js"></script>
  <script src="/footer.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>

    .profile img {
      max-width: 300px;
      min-width: 200px;
    }


    .profile .profile-body {
      padding: 20px;
      background: #f7f7f7;
      width: 100%;

    }

    .profile .profile-bio {
      background: #fff;
      position: relative;
      padding: 15px 10px 5px 15px;
    }

    .profile .profile-bio a {
      left: 50%;
      bottom: 20px;
      margin: -62px;
      text-align: center;
      position: absolute;
    }

    .profile .profile-bio h2 {
      margin-top: 0;
      font-weight: 200;
    }

    .profile h3 {
      color: #585f69;
      margin-top: 5px;
      text-shadow: none;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
    }
    .profile h3 {
      font-size: 24px;
      line-height: 33px;
    }

    .profile p, .profile li, .profile li a {
      color: #555;
    }

  </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;">
  <a class="navbar-brand" href="/" target="_self"><img src="/EOU-GOSTEM_logo_RGB.png" style="max-height: 7vh; " alt="eou go stem logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/" target="_self">Home</a>
      </li>
      <li class="nav-item "><a class="nav-link" href="/about" target="_self">About</a></li>
      <li class="nav-item active"><a class="nav-link" href="/team" target="_self">Meet the Team</a><span class="sr-only">(current)</span></li>
      <li class="nav-item"><a class="nav-link" href="/lab" target="_self">Mobile Maker Lab</a></li>
      <li class="nav-item">
        <a class="nav-link" href="http://gostem.lend-engine.com/">Lending Library</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/contact" target="_self">Contact Us</a></li>
    </ul>
  </div>
</nav>
<!-- End of Navigation Bar -->

<div class="header container-flex">
  <header>
    <h2> Meet the Team </h2>
  </header>
</div>

<div class="body container" id="team" style="margin-bottom: 3vh;">
  <% for (let i = 0; i < teamData.length; i++) { %>
    <% if (i % 2 === 0) { %>
      <div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh;">
        <div class="profile ">
          <div class="profile-body">
            <div class="profile-bio">
              <div class="row">
                <div class="col-md-5 text-center">
                  <img class="img-thumbnail md-margin-bottom-10" src="<%- teamData[i].pic %>" alt="">
                </div>
                <div class="col-md-7">
                  <h3><%- teamData[i].fname %> <%- teamData[i].lname %></h3>
                  <span><strong><%- teamData[i].job %></strong></span>
                  <hr>
                  <p><%- teamData[i].description %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
        <div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh;">
          <div class="profile ">
            <div class="profile-body">
              <div class="profile-bio">
                <div class="row">
                  <div class="col-md-7">
                    <h3><%- teamData[i].fname %> <%- teamData[i].lname %></h3>
                    <span><strong><%- teamData[i].job %></strong></span>
                    <hr>
                    <p><%- teamData[i].description %></p>
                  </div>
                  <div class="col-md-5 text-center">
                    <img class="img-thumbnail md-margin-bottom-10" src="<%- teamData[i].pic %>" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% } %>
  <% } %>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-flex">

  <footer class="text-white text-lg-start" style="background-color: #23242a;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Mission</h5>
          <p>
            A regional partnership cultivating a community that values STEM learning, prepares youth for successful STEM careers, and builds pathways and pipelines to meet workforce needs.
          </p>
          <hr>
          <h5 class="text-uppercase mb-4">Equal Opportunity</h5>
          <p>
            GO-STEM, in compliance with state and federal laws and regulations, does not discriminate on the basis of age, color, disability, gender identity or expression, genetic information, marital status, national origin, race, religion, sex, sexual orientation, or veteran status in any of its policies, procedures, or practices.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Sign Up For Our Newsletter!</h5>

          <div class="form-outline form-white mb-4">
            <label class="form-label" for="formControlLg" style="margin-left: 0px;">Email</label>
            <input type="email" id="formControlLg" class="form-control form-control-lg"><button type="button" class="btn btn-primary mt-2" onclick="submit()">Submit</button>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">La Grande, OR 97850, US</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2"><a href="mailto:go-stem@eou.edu">go-stem@eou.edu</a></span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
</div>
<!-- End of .container -->

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/d3@5.5.0/dist/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>